thead tr:first-child th {
  top: 193px;
  position:sticky;
  background-color: #32215C !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  border: solid 1px #32215C !important;
  z-index: 10;
}

table{
  border: solid 1px #522A78 !important;
}

.fixed {
  position:sticky !important;
  top:100px;
  z-index:100 !important;
  background-color: #FFFFFF;
}
