thead tr:first-child th {
  position: sticky;
  top:99px;
  background-color: #32215C !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  border: solid 1px #32215c88 !important;
}
table{
  border: solid 1px #522A78 !important;
}
table td {
  border:solid 1px #32215c88 !important;
}
