* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fixed {
  padding-top: 100px;
  height: 100vh;
  width: 240px;
  position: fixed;
  z-index: 100 !important;
  transform: translateX(240);
  transition: transform 0.5s ease-in-out;
}

.container-fixed.closed {
  transform: translateX(-100%);
}

.nav_custom {
  background-color: #a987ff;
  color: #FFFFFF;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.nav__link {
  color:#FFFFFF;
  display: block;
  padding: 8px 0;
  text-decoration: none;
}

.nav__link--inside {
  border-radius: 6px;
  color: #ffffff;
  padding: 6px;
  margin-left: 3px;
}

.nav__link--inside-selected {
  background-color: #5900ac;
  color: #ffffff;
  font-weight: bold;
  /* font-family: 'Montserrat', sans-serif; */
}

.nav__link--inside:hover {
  background-color:#7f25d3;
  color: #FFFFFF;
}

.list_custom {
  width: 100%;
}

.list_custom__item {
  background-color: #6A5ACD;
  list-style: none;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.list_custom__item__select {
  background-color: #6A5ACD;
  list-style: none;
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.list_custom__item--selected {
  background-color: #5900ac;

}

.list_custom__item a:not(.nav__link--inside) {
  font-weight: bold;
  color: #FFFFFF;
}

.list_custom__item__select a:not(.nav__link--inside) {
  font-weight: bold;
}


.list_custom__item:hover {
  background-color: #7f25d3;
}

.list_custom__item--click {
  cursor: pointer;
}

.list_custom__button {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 90%;
  margin: 0 auto;
}

.list__arrow {
  margin-left: auto;
  transition: transform 0.2s ease-in-out;
}

.arrow .list__arrow {
  transform: rotate(90deg);
}

.list__show {
  width: 100%;
  margin-left: 10px;
  list-style: none;
  transition: height .2s;
  text-align: center;
  height: 0;
  border-left:solid 1px #FFF;
}
