<h3>Proyectos por Unidad Territorial</h3>
<form class="row shadow-lg rounded-3 my-3 py-3 mx-0 fixed" [formGroup]="adminForm">
  <div class="col-12">
    <h5>Seleccionar los parámetros de búsqueda de los proyectos por Unidad Territorial</h5>
  </div>
  <div class="col-4">
    <shared-selector (anio)="getAnio($event)"/>
  </div>
  <div class="col-4">
    <strong>Distrito</strong>
    <select class="form-select text-center" formControlName="id_distrito" (change)="getColonias()">
      <option value="">Seleccionar</option>
      @for(distrito of distritos(); track $index) {
        <option [value]="distrito.id">{{distrito.nombre}}</option>
      }
    </select>
  </div>
  <div class="col-4">
    <strong>Unidad Territorial</strong>
    <select class="form-select text-center" formControlName="clave_colonia" (change)="getLista()">
      <option value="">Seleccionar</option>
      @for(colonia of listaColonias(); track $index) {
        <option [value]="colonia.id">{{colonia.nombre}} ({{colonia.id}})</option>
      }
    </select>
  </div>
</form>
@if(anio() > 0) {
  <div class="row shadow-lg rounded-3 my-3 py-3 mx-0">
    <div class="col-12">
      <h5>Lista de {{anio() > 1 ? 'Proyectos' : 'Candidatos'}}</h5>
    </div>
    <div class="col-12">
      @if(lista().length > 0) {
        <table datatable [dtOptions]="dtOptions()" class="table table-bordered table-striped row-border hover">
          <thead>
            <tr>
              <th>{{anio() == 1 ? 'Letra de Candidatura' : 'Número de Proyecto'}}</th>
              <th>Nombre de la Delegación</th>
              <th>Nombre de{{anio() > 1 ? 'l Proyecto' : ' la Persona Candidata'}}</th>
              <th>Folio</th>
              <th>Eliminar {{anio() > 1 ? 'proyecto' : 'candidato'}}</th>
            </tr>
          </thead>
          <tbody>
            @for(item of lista(); track $index) {
              <tr>
                <td>{{item.secuencial}}</td>
                <td>{{item.nombre_delegacion}}</td>
                <td>{{anio() > 1 ? item.nom_proyecto : item.nombre}}</td>
                <td>{{item.folio}}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteById(anio() > 1 ? item.id_proyecto! : item.idFormulas!, anio() > 1 ? item.nom_proyecto : item.nombre!)"><i class="bi bi-trash3-fill"></i></button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else {
        <table datatable [dtOptions]="dtOptions()" class="table table-bordered table-striped row-border hover">
        <thead>
          <tr>
            <th>{{anio() == 1 ? 'Letra de Candidatura' : 'Número de Proyecto'}}</th>
            <th>Nombre de la Delegación</th>
            <th>Nombre de{{anio() > 1 ? 'l Proyecto' : ' la Persona Candidata'}}</th>
            <th>Folio</th>
            <th>Eliminar {{anio() > 1 ? 'proyecto' : 'candidato'}}</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      }
    </div>
  </div>
}
