abbr {
  text-decoration: none !important;
}

thead tr:first-child th {
  /* position:sticky; */
  /* top: 99px !important; */
  background-color: #32215C !important;
  color: white !important;
  font-weight: bold !important;
  text-align: center !important;
  border: solid 1px #cacaca !important;
  /* z-index: 10; */
}
table{
  border: solid 1px #cacaca !important;
}
